* {
  font-family: 'Oswald', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 20px 10%;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  gap: 3rem;
}

.nav {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.nav-item {
  font-weight: 600;
  font-size: 1.2rem;
  color: #000;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.logo img {
  height: 5rem;
  object-fit: contain;
}
