* {
  font-family: 'Oswald', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 20px 10%;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  gap: 3rem;
}

.nav {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.nav-item {
  font-weight: 600;
  font-size: 1.2rem;
  color: #000;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.logo img {
  height: 5rem;
  object-fit: contain;
}

.footer {
  padding-block: 10px;
  padding-inline: 20px;
  border: 3px solid black;
  display: flex;
  justify-content: space-between;
  background-color: rgb(187, 231, 238);
}

.svg {
  margin-block: auto;
}

.footer-row {
  display: flex;
  gap: 20px;
}

.footer-row svg {
  height: 30px;
  width: 30px;
}
